%h1 My Tasks

- @tasks.map do |project,tasks|
  .row
    .span7
      %h2= link_to project.name, project
  .row
    .span7
      %table
        = render :partial => 'tasks/task_row', :as => :task, :collection => tasks

%br
