%h1 My Companies

= render :partial => 'companies/company', :collection => @companies

%br
- if permitted_to? :create, :companies
  = render :partial => 'companies/form', :locals => { :@company => Company.new() }
