.hero-unit
  %h1 Sustain Dane
  %p MPower Business Champion Program
  %a{class: "aboutlink", title: "About Sustain Dane MPower", href: "http://sustaindane.org/going-sustainable/at-work/mpower-business/"} Find out about Sustain Dane's Mpower program.
